body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsla(0, 24%, 29%, 0.231);
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    margin:auto;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;

}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}
button:hover{
     background-color: hsl(0, 0%, 40%);
}
button:active{
     background-color: hsl(0, 0%, 50%);
}
.operator-btn {
    background-color: #f8f4e6;      /* off-white for operators */
    color: #4e342e;                 /* dark brown text */
}
.operator-btn:hover {
    background-color: #e9e4d8;      /* slightly darker off-white */
    color: #4e342e;
}
.operator-btn:active {
    background-color: #d7ccc8;     
    color: #4e342e;
}
.calc-title, .calc-desc {
    text-align: center;
    color: rgb(107, 88, 88);
    margin-top:90px;
    margin-bottom: 5px;
}
h1{
    font-size: 5rem;
    margin-bottom: 5px;
}
p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}